<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= skill.name %></title>
</head>
<body>
  <h1>Edit Skill</h1>
  <form autocomplete="off" action="/skills/<%= skill._id %>?_method=PUT" method="POST">
    Skill Name:
    <input placeholder="<%= skill.name %>" name="name"></input>
    Skill Level:
    <input placeholder="<%= skill.level %>" name = 'level'></input>
    Skill Field:
    <input placeholder="<%= skill.field %>" name="field"></input>
    <button type="submit">Save Changes</button>
  </form>
</body>
</html>