<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= skill.name %></title>
</head>
<body>
  <h1>Hello</h1>
  <h1><%= skill.name %></h1>
  <h2> <%= skill.level %>| <%= skill.field %></h2>
  <a href="/skills/<%= skill._id %>/edit"><button >Edit skill</button></a>
  <a href="skills/"><button>Back to Index</button></a>
</body>
</html>